
<p id="notice"><%= notice %></p>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    <%= @event.name %>
    </p>
  </header>
  <div class="card-content">
    <p class="card-header-title">
  Endereço: </p><%= @event.address %>
    <p class="card-header-title">: Duração</p><%= @event.duration_time.to_s(:time) %>
  </div>
    <% if @event.file_appeal.present?%>
      <%= image_tag(@event.file_appeal.url) %>
    <% end %>
  <footer class="card-footer">
    <%= link_to 'Editar', edit_event_path(@event),class: "card-footer-item" %>
    <%= link_to 'Voltar', events_path,class: "card-footer-item"%>
  </footer>
</div>