
<p id="notice"><%= notice %></p>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    <%= @persona.name %>
    </p>
  </header>
  <div class="card-content">
    <p class="card-header-title">
  CNPJ: </p><%= @persona.cnpj %>
    <p class="card-header-title">: Razão Social</p><%= @persona.social_reason %>
  </div>
  <footer class="card-footer">
    <%= link_to 'Editar', edit_persona_path(@persona),class: "card-footer-item" %>
    <%= link_to 'Voltar', personas_path,class: "card-footer-item"%>
  </footer>
</div>